.small-banner {
    background-color: rgb(155, 149, 145);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    padding: 10px 20px;
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    z-index: 1000; 
    margin: 0; 
    font-size: 20px; 
    font-weight: normal; 
    color: whitesmoke;
    text-align: center;
}

.small-banner.sticky {
    display: block;
}


.small-banner h1 {
    margin: 0; 
    font-size: 20px; 
    font-weight: normal; 
    color: whitesmoke;
    text-align: center;
}

